extends common/layout

block layout-content 
  section#mainContent 
    div#mainDiv 
      h1#contentHeader Shop the Hottest Summer Styles! 
      p#content Get 30% off all products — limited time only!

  section#categories
    h2 Categories
    .category-list
      each category in categories
        .category
          h3= category.name
          p= category.description

  section#products 
    h2 Products
    .product-list
      each product in products
        .product
          img(src=product.image, alt=product.title, width="150")
          h3= product.title
          p Price: $#{product.price}
